﻿/* ****************************************************************************************************************************
   ******************************************************* MASTER PAGE ********************************************************
   **************************************************************************************************************************** */
html 
{
    background: #FFFFFF;
    background: -webkit-gradient(linear,left top, left bottom,from(#FFFFFF), color-stop(0.30,#FCFCFC), color-stop(0.50, #F6F6F6));
    background: -moz-linear-gradient(#FFFFFF 0%, #FCFCFC 30%, #F6F6F6 50%);
    background: -o-linear-gradient(#FFFFFF 0%, #FCFCFC 30%, #F6F6F6 50%);
    background: -ms-linear-gradient(#FFFFFF 0%, #FCFCFC 30%, #F6F6F6 50%);
    background: linear-gradient(#FFFFFF 0%, #FCFCFC 30%, #F6F6F6 50%);
    height: auto;
    width: auto;
	margin: 0;
	padding: 0;
	font-family: Sans-Serif, Arial;
    font-size: 12px;
    text-align: center;
    vertical-align: top;
}

.header
{
    background-image: url("~/Imagenes/Encabezado.png");
    position: relative;
    width: 1000px;
    text-align: center;
    margin: auto;
}

.main
{
    width: 1000px;
    height: auto;
    text-align: center;
    margin: auto;
}

.footer
{
    width: 1000px;
    height: 220px;
    height: auto;
    text-align: center;
    margin: auto;
    background: #3992D0;
}

.divDoctos
{
    position: relative;
    width: 1000px;
    height: auto;
    text-align: center;
    margin: auto;
    text-align: right;
}

.divMenu
{
    position: relative;
    text-align:center;
    width: 1000px;
    height: 50px;
    padding: 0;
    background: linear-gradient(#EAEAF0, #F5F5F7);
    border-radius: 100px;
    margin: auto;
    top: -80px;
}

.divDatos
{
    font-family: Sans-Serif, Arial;
    font-size: 14px;
    position: relative;
    width: 1000px;
    margin: auto;
    padding: 0;
    top: -80px;
}

    /* ********************************************* MENU ******************************************* */
    /* Formato inicial del Menu */
    div.menu
    {
        margin: auto;
        padding: 0;
        border: 0;
        list-style-type: none;
        position: relative;
        width: 100%;
        height: 50px;
        border-radius: 20px;
        font-family: Sans-Serif, Arial;
        font-size: 12px;
        text-align: center;
        font-weight: bold;
        background: #F5F5F7;
        background: -webkit-gradient(linear,left top, left bottom,from(#EAEAF0), color-stop(0.30,#EAEAF0), color-stop(0.50, #F5F5F7));
        background: -moz-linear-gradient(#EAEAF0 0%, #EAEAF0 30%, #F5F5F7 50%);
        background: -o-linear-gradient(#EAEAF0 0%, #EAEAF0 30%, #F5F5F7 50%);
        background: -ms-linear-gradient(#EAEAF0 0%, #EAEAF0 30%, #F5F5F7 50%);
        background: linear-gradient(#EAEAF0 0%, #EAEAF0 30%, #F5F5F7 50%);
        text-transform: uppercase;
    }

    div.menu ul
    {
        margin: 0;
        padding: 0;
        border: 0;
        list-style-type: none;
        margin-left: 10px;
        vertical-align: middle;
    }

    div.menu li a
    {
        height: 40px;
        width: 90px;
        padding: 4px 15px; 
        float: left;
    
        border: 1px Solid #D8D8D8;
    
        font-weight: bold;
        color: Black;
        text-align: center;
        text-decoration: none;
   
        background: #F5F5F7;
        background: -webkit-gradient(linear,left top, left bottom,from(#EAEAF0), color-stop(0.30,#EAEAF0), color-stop(0.50, #F5F5F7));
        background: -moz-linear-gradient(#EAEAF0 0%, #EAEAF0 30%, #F5F5F7 50%);
        background: -o-linear-gradient(#EAEAF0 0%, #EAEAF0 30%, #F5F5F7 50%);
        background: -ms-linear-gradient(#EAEAF0 0%, #EAEAF0 30%, #F5F5F7 50%);
        background: linear-gradient(#EAEAF0 0%, #EAEAF0 30%, #F5F5F7 50%);
    }

    .menuItem
    {
        width: 100%;
        height: 100%;
        text-align: center;
        vertical-align: middle;
        padding-top: 50px;
    }


    div.menu a:hover{
	    background: #00359B;
        background: -webkit-gradient(linear,left top, left bottom,from(#B5E0ED), color-stop(0.30,#104AAF), color-stop(0.50, #00359B));
        background: -moz-linear-gradient(#B5E0ED 0%, #104AAF 30%, #00359B 50%);
        background: -o-linear-gradient(#B5E0ED 0%, #104AAF 30%, #00359B 50%);
        background: -ms-linear-gradient(#B5E0ED 0%, #104AAF 30%, #00359B 50%);
        background: linear-gradient(#B5E0ED 0%, #104AAF 30%, #00359B 50%);
        vertical-align: middle;
        color: White;
        text-decoration:none;
    }   

    div.menu li a.selected
    {
        vertical-align: middle;
        background: #DAA520;
        background: -webkit-gradient(linear,left top, left bottom,from(#FDDC42), color-stop(0.30,#F9B319), color-stop(0.50, #F18C11));
        background: -moz-linear-gradient(#FDDC42 0%, #F9B319 30%, #F18C11 50%);
        background: -o-linear-gradient(#FDDC42 0%, #F9B319 30%, #F18C11 50%);
        background: -ms-linear-gradient(#FDDC42 0%, #F9B319 30%, #F18C11 50%);
        background: linear-gradient(#FDDC42 0%, #F9B319 30%, #F18C11 50%);
        color: #00359B;
        text-decoration:none;
    }
    
/* ****************************************************************************************************************************
   ********************************************************* COMUNES **********************************************************
   **************************************************************************************************************************** */
.Titulo1
{
    font-family: Sans-Serif, Arial;
    font-size: 22px;
    color: #008FC4;
    font-weight: bold;
    text-transform: uppercase;
}

.Titulo1Blanco
{
    font-family: Sans-Serif, Arial;
    font-size: 22px;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
}

.subTitulo1
{
    font-family: Sans-Serif, Arial;
    font-size: 18px;
    color: #008FC4;
    font-weight: bold;
    text-transform: uppercase;
}

.subTitulo1Blanco
{
    font-family: Sans-Serif, Arial;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
}

.Textonormal
{
    font-family: Sans-Serif, Arial;
    font-size: 12px;
    color: Black;
}

.divBienvenido
{
    width: 100%;
    height: 40px;
    margin: auto;
    text-align: left;
	font-family: Sans-Serif, Arial;
    vertical-align: top;
}

/* ***************************************** MODAL POPUP **************************************** */
/* Modal PopUp */
.modalBackground
{
    background-color:black;
    filter: alpha(opacity=80);
    opacity: 0.8;
}

/* ****************************************** BOTONES ******************************************* */
.botonchico
{
    /*background: radial-gradient(ellipse, #ffffff, #D0D0D0);*/
    background: #FFFFFF;
    background: -webkit-gradient(linear,left top, left bottom,from(#FFFFFF), color-stop(0.5,#C0C0C0), color-stop(0.51, #C0C0C0));
    background: -moz-linear-gradient(#FFFFFF 0%, #C0C0C0 50%, #C0C0C0 51%);
    background: -o-linear-gradient(#FFFFFF 0%, #C0C0C0 50%, #C0C0C0 51%);
    background: -ms-linear-gradient(#FFFFFF 0%, #C0C0C0 50%, #C0C0C0 51%);
    background: #FFFFFF;
    border: 1px solid #D0D0D0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;  
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #D0D0D0 inset;
    -webkit-box-shadow: 0 1px 1px #D0D0D0 inset;
    -o-box-shadow: 0 1px 1px #D0D0D0 inset; 
    box-shadow: 0 1px 1px #D0D0D0    inset;
    padding: .3em 1.5em;
    color: Black;
    font-weight: bold;
    text-decoration:none;
    font-size: 12px;
}

.botonchico:hover 
{
    background-position: center center;
    vertical-align: middle;
    background: #FDDC42;
    background: -webkit-gradient(linear,left top, left bottom,from(#FDDC42), color-stop(0.30,#F9B319), color-stop(0.50, #F18C11));
    background: -moz-linear-gradient(#FDDC42 0%, #F9B319 30%, #F18C11 50%);
    background: -o-linear-gradient(#FDDC42 0%, #F9B319 30%, #F18C11 50%);
    background: -ms-linear-gradient(#FDDC42 0%, #F9B319 30%, #F18C11 50%);
    background: linear-gradient(#FDDC42 0%, #F9B319 30%, #F18C11 50%);
    color: #00359B;
    cursor: pointer;
}

.botonMediano
{
    background-position: center center;
    /*background: radial-gradient(ellipse, #ffffff, #D0D0D0);*/
    background: #FFFFFF;
    background: -webkit-gradient(linear,left top, left bottom,from(#FFFFFF), color-stop(0.5,#C0C0C0), color-stop(0.51, #C0C0C0));
    background: -moz-linear-gradient(#FFFFFF 0%, #C0C0C0 50%, #C0C0C0 51%);
    background: -o-linear-gradient(#FFFFFF 0%, #C0C0C0 50%, #C0C0C0 51%);
    background: -ms-linear-gradient(#FFFFFF 0%, #C0C0C0 50%, #C0C0C0 51%);
    background: linear-gradient(#FFFFFF 0%, #C0C0C0 50%, #C0C0C0 51%);
    border: 1px solid #D0D0D0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;  
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #D0D0D0 inset;
    -webkit-box-shadow: 0 1px 1px #D0D0D0 inset;
    -o-box-shadow: 0 1px 1px #D0D0D0 inset; 
    box-shadow: 0 1px 1px #D0D0D0    inset;
    padding: .3em 1.5em;
    color: Black;
    font-weight: bold;
    text-decoration:none;
    width: 120px;
    height: 40px;
    font-size: 15px;
}

.botonMediano:hover 
{
    background-position: center center;
    background: #00359B;
    background: -webkit-gradient(linear,left top, left bottom,from(#B5E0ED), color-stop(0.30,#104AAF), color-stop(0.50, #00359B));
    background: -moz-linear-gradient(#B5E0ED 0%, #104AAF 30%, #00359B 50%);
    background: -o-linear-gradient(#B5E0ED 0%, #104AAF 30%, #00359B 50%);
    background: -ms-linear-gradient(#B5E0ED 0%, #104AAF 30%, #00359B 50%);
    background: linear-gradient(#B5E0ED 0%, #104AAF 30%, #00359B 50%);
    vertical-align: middle;
    
    cursor: pointer;
    color: #FFFFFF;
}

.divgrvCatalogos
{
    width: 1000px;
    height: auto;
    
}

/* ****************************************** PROCESAR ******************************************* */
.overlay
{
    position: fixed;
    z-index: 98;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #aaa; 
    filter: alpha(opacity=80); 
    opacity: 0.8; 
}
.overlayContent
{
    z-index: 99;
    margin: 50px auto;
    width: 40px;
    height: 40px;
}
.overlayContent h2
{
    font-size: 18px;
    font-weight: bold;
    color: #000;
}
.overlayContent img
{
    width: 40px;
    height: 40px;
}

/* ****************************************** GRIDVIEW ******************************************* */
.mGrid {  
    width: 100%;  
    background-color: #fff;  
    margin: 5px 0 10px 0;  
    border: solid 1px #525252;  
    border-collapse: collapse;
    font-family: Sans-Serif, Arial;
    font-weight: bold;
}  
  
.mGrid td   
{
    padding: 2px;  
    border: solid 1px #c1c1c1;  
    color: #717171;  
}  
  
.mGrid th   
{
    padding: 4px 2px;
    font-weight:bold; 
     /* Color de la fuente */

    /*
     
    background: #0D0875 url(grd_head.png) repeat-x top; 
    background: #DAA520;
    background: -webkit-gradient(linear,left top, left bottom,from(#FFD700), color-stop(0.30,#DFAF2A), color-stop(0.50, #DAA520));
    background: -moz-linear-gradient(#FFD700 0%, #DFAF2A 30%, #DAA520 50%);
    background: -o-linear-gradient(#FFD700 0%, #DFAF2A 30%, #DAA520 50%);
    background: -ms-linear-gradient(#FFD700 0%, #DFAF2A 30%, #DAA520 50%);
    background: linear-gradient(#FFD700 0%, #DFAF2A 30%, #DAA520 50%);
    color: #00359B;
    */
    
    background-color: #f0f0f0;
    background-image: -webkit-gradient(linear,left top, left bottom,from(#78C3FD), color-stop(0.15,#55ACEF), color-stop(0.20, #3992D0));
    background-image: -moz-linear-gradient(#78C3FD 0%, #55ACEF 15%, #3992D0 20%);
    background-image: -o-linear-gradient(#78C3FD 0%, #55ACEF 15%, #3992D0 20%);
    background-image: -ms-linear-gradient(#78C3FD 0%, #55ACEF 15%, #3992D0 20%);
    background-image: linear-gradient(#78C3FD 0%, #55ACEF 15%, #3992D0 20%); 
    color:#FFFFFF;
    
    border-left: solid 1px #525252;  
    font-size: 0.9em;  
}  
  
.mGrid .alt   
{
    background: #fcfcfc url(grd_alt.png) repeat-x top;  
}  
  
.mGrid .pgr   
{
    background-color: #f0f0f0;
    background-image: -webkit-gradient(linear,left top, left bottom,from(#fefefe), color-stop(0.5,#DCDCDC), color-stop(0.51, #CECECE));
    background-image: -moz-linear-gradient(#fefefe 0%, #DCDCDC 50%, #CECECE 51%);
    background-image: -o-linear-gradient(#fefefe 0%, #DCDCDC 50%, #CECECE 51%);
    background-image: -ms-linear-gradient(#fefefe 0%, #DCDCDC 50%, #CECECE 51%);
    background-image: linear-gradient(#fefefe 0%, #DCDCDC 50%, #CECECE 51%); 
}  
  
.mGrid .pgr table   
{
    margin: 5px 0;  
}  

.mGrid .pgr td 
{
    border-width: 0;  
    padding: 0 6px;  
    border-left: solid 1px #666;  
    
    color: #FF0000;  
    line-height: 12px;  
}  
  
.mGrid .pgr a   
{
    color: #666;  
    text-decoration: none;  
}  
  
.mGrid .pgr a:hover   
{
    color: #000;  
    text-decoration: none;  
} 

/* ****************************************************************************************************************************
   ******************************************************* PAGE LOGIN *********************************************************
   **************************************************************************************************************************** */
.mainLogin
{
    position: relative;
    width: 1000px;
    height: 420px;
    margin: auto;
    text-align: center;
	font-family: Sans-Serif, Arial;
    font-size: 12px;
    vertical-align: middle;
    top: 40px;
}

/*
.divMain
{
    position: absolute;
    left: 25%;
    width: 50%;
    
    top: 20%;
    height: 60%;
    
    background: #3992D0;
    background: -webkit-gradient(linear,left bottom, left top,from(#F1F7FC), color-stop(0.70,#B5D6ED), color-stop(0.95, #3992D0));
    border-radius: 20px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background: -moz-linear-gradient(#F1F7FC 0%, #B5D6ED 70%, #3992D0 95%);
    background: -o-linear-gradient(#F1F7FC 0%, #B5D6ED 30%, #3992D0 50%);
    background: -ms-linear-gradient(#F1F7FC 0%, #B5D6ED 30%, #3992D0 50%);
    background: linear-gradient(#F1F7FC 0%, #B5D6ED 30%, #3992D0 50%);
}
*/

.TablaUno
{
    
    width: auto;
    height: auto;
    margin: auto;
    vertical-align: top;
    text-align: center;
    border: white 1px solid;
    padding: 20px 20px 20px 20px;
    background: #3992D0;
    background: -webkit-gradient(linear,left bottom, left top,from(#F1F7FC), color-stop(0.70,#B5D6ED), color-stop(0.95, #B5D6ED));
    border-radius: 20px;
   
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    
}

.txtLogin
{
    font-size: 12px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    position: relative;
    width: 150px;
}

    /* ***************************************** MODAL POPUP **************************************** */
    .modalPopup
    {
        background: #FFFFFF;
        background: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);  
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#FFFFFF));
        width: 800px;
        height: 500px;
        text-align: center;
        vertical-align:middle;
        overflow:auto;
    }

    .modalPopupPerfil
    {
        background: #FFFFFF;
        background: -webkit-gradient(linear,left bottom, left top,from(#F1F7FC), color-stop(0.70,#B5D6ED), color-stop(0.95, #B5D6ED));
        background: -moz-linear-gradient(top, #B5D6ED, #F1F7FC);  
        width: 250px;
        height: 120px;
        text-align: center;
        vertical-align:middle;
        overflow:auto;
    }
    
    .modalPopupCambiar
    {
        background: #FFFFFF;
        background: -webkit-gradient(linear,left bottom, left top,from(#F1F7FC), color-stop(0.70,#B5D6ED), color-stop(0.95, #B5D6ED));
        background: -moz-linear-gradient(top, #B5D6ED, #F1F7FC);  
        width: 300px;
        height: 180px;
        text-align: center;
        vertical-align:middle;
        overflow:auto;
    }

/* ****************************************************************************************************************************
   ******************************************************* PAGE HOME *********************************************************
   **************************************************************************************************************************** */
.mainHome
{
    position: relative;
    width: 1000px;
    margin: auto;
    text-align: center;
	font-family: Sans-Serif, Arial;
    font-size: 12px;
    vertical-align: middle;
    top: -50px;
}

.container  
{
    overflow: hidden; 
    width: 100%;
    height: auto;
}

.divLeft  
{
    float: left; 
    width: 40%; 
    padding-bottom: 500em; 
    margin-bottom: -500em; 
} 

.divRight 
{
    float: left; 
    width: 60%; 
    margin-right: -1px; /* Thank you IE */ 
    padding-bottom: 500em; 
    margin-bottom: -500em; 
}

/* ****************************************************************************************************************************
   ******************************************************* PAGE DATOS *********************************************************
   **************************************************************************************************************************** */
.mainDatos
{
    position: relative;
    width: 1000px;
    margin: auto;
    text-align: center;
	font-family: Sans-Serif, Arial;
    font-size: 12px;
    vertical-align: middle;
    top: -50px;
}

/* ****************************************************************************************************************************
   *************************************************** PAGE RECEPCION *********************************************************
   **************************************************************************************************************************** */
.mainRecepcion
{
    position: relative;
    width: 1000px;
    height: auto;
    margin: auto;
    text-align: center;
	font-family: Sans-Serif, Arial;
    font-size: 12px;
    vertical-align: middle;
    top: -50px;
}

.divCarga
{
    position: relative;
    height: auto;
    width: 100%;
    vertical-align: top;
}

.divgrvProcesados
{
    width: 1000px;
    height: auto;
}

/* ***************************************** Upluad Files **************************************** */
.ajax__fileupload_selectFileButton
{
    background: #FFFFFF;
    background: -webkit-gradient(linear,left top, left bottom,from(#FFFFFF), color-stop(0.5,#C0C0C0), color-stop(0.51, #C0C0C0));
    background: -moz-linear-gradient(#FFFFFF 0%, #C0C0C0 50%, #C0C0C0 51%);
    background: -o-linear-gradient(#FFFFFF 0%, #C0C0C0 50%, #C0C0C0 51%);
    background: -ms-linear-gradient(#FFFFFF 0%, #C0C0C0 50%, #C0C0C0 51%);
    background: linear-gradient(#FFFFFF 0%, #C0C0C0 50%, #C0C0C0 51%);
    color:#000000 !important;
    font-size:12px;
    
}

.ajax__fileupload_dropzone 
{
    text-transform: uppercase;
}

    
.ajax__fileupload_dropzone 
{
    
    border:dotted 1px #B2D1E0 !important;
    color:#008FC4 !important;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;

    display: none !important;
    
}
*/

.modalPopupMostrar
{
    background: #FFFFFF;
    background: -webkit-gradient(linear,left bottom, left top,from(#F1F7FC), color-stop(0.70,#B5D6ED), color-stop(0.95, #B5D6ED));
    background: -moz-linear-gradient(top, #B5D6ED, #F1F7FC);  
    width: auto;
    height: auto;
    text-align: center;
    vertical-align:middle;
}

.pnlAddenda
{
    width: 50%;
    height: auto;
    margin-left: 25%;
}

/*
.ajax__fileupload_uploadbutton
{
    background: #FDDC42;
    background: -webkit-gradient(linear,left top, left bottom,from(#FDDC42), color-stop(0.30,#F9B319), color-stop(0.50, #F18C11));
    background: -moz-linear-gradient(#FDDC42 0%, #F9B319 30%, #F18C11 50%);
    background: -o-linear-gradient(#FDDC42 0%, #F9B319 30%, #F18C11 50%);
    background: -ms-linear-gradient(#FDDC42 0%, #F9B319 30%, #F18C11 50%);
    background: linear-gradient(#FDDC42 0%, #F9B319 30%, #F18C11 50%);
    color:#000000 !important;
    cursor: pointer;
    font-size:12px;
}

.ajax__fileupload_dropzone 
{
    border:dotted 1px #B2D1E0 !important;
    color:#B2D1E0 !important;
}

/*
.ajax__fileupload_queueContainer {
       visibility:hidden;
}


.ajax__fileupload_selectFileContainer
{
   position: relative;
   float: right;
   right: 0px; 
}

.botonchico
{
    background-position: center center;
    background: #FFFFFF;
    background: -webkit-gradient(linear,left top, left bottom,from(#FFFFFF), color-stop(0.5,#C0C0C0), color-stop(0.51, #C0C0C0));
    background: -moz-linear-gradient(#FFFFFF 0%, #C0C0C0 50%, #C0C0C0 51%);
    background: -o-linear-gradient(#FFFFFF 0%, #C0C0C0 50%, #C0C0C0 51%);
    background: -ms-linear-gradient(#FFFFFF 0%, #C0C0C0 50%, #C0C0C0 51%);
    background: linear-gradient(#FFFFFF 0%, #C0C0C0 50%, #C0C0C0 51%);
    border: 1px solid #D0D0D0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;  
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #D0D0D0 inset;
    -webkit-box-shadow: 0 1px 1px #D0D0D0 inset;
    -o-box-shadow: 0 1px 1px #D0D0D0 inset; 
    box-shadow: 0 1px 1px #D0D0D0    inset;
    padding: .3em 1.5em;
    color: Black;
    font-weight: bold;
    text-decoration:none;
    width: 100px;
    height: 40px;
    font-size: 12px;
}

.botonchico:hover 
{
    background-position: center center;
    vertical-align: middle;
    background: #FDDC42;
    background: -webkit-gradient(linear,left top, left bottom,from(#FDDC42), color-stop(0.30,#F9B319), color-stop(0.50, #F18C11));
    background: -moz-linear-gradient(#FDDC42 0%, #F9B319 30%, #F18C11 50%);
    background: -o-linear-gradient(#FDDC42 0%, #F9B319 30%, #F18C11 50%);
    background: -ms-linear-gradient(#FDDC42 0%, #F9B319 30%, #F18C11 50%);
    background: linear-gradient(#FDDC42 0%, #F9B319 30%, #F18C11 50%);
    color: #00359B;
    cursor: pointer;
}
*/


*/


/*
.tableLogin
{
    width: auto;
    height: auto;
    margin: auto;
    vertical-align: top;
    text-align: center;
    border: white 1px solid;
    padding: 70px 70px 70px 70px;
    background: #E0E0E0;
}


.ddlIdioma
{
    font-size: 12px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    position: relative;
    width: 200px;

}


*/

.divdatosProveedor
{
    width: 100%;
    height: 55px;
    margin: auto;
    text-align: left;
	font-family: Sans-Serif, Arial;
    vertical-align: top;
    padding-left: 50px;
}

.containerRecepcion
{
    overflow: hidden; 
    width: 100%;
    height: auto;
    padding-top: 10px;
}

.divLeftRecepcion
{
    float: left; 
    width: 70%; 
    padding-bottom: 500em; 
    margin-bottom: -500em;
    padding-right: 2%;
} 

.divRightRecepcion
{
    float: left; 
    width: 25%; 
    margin-right: -1px; /* Thank you IE */ 
    padding-bottom: 500em; 
    margin-bottom: -500em;
    padding-top: 50px;
}

.divgrvPorprocesar
{
    width: 100%; 
    overflow: scroll
}

.central
{
	padding: 1em;
	margin: 0 auto;
	background-color: #FFFFFF;
	color: #004080;
	font-family: Arial;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	border: border-style double;
}

/* ****************************************************************************************************************************
   ************************************************** PAGE PROGRAMACION *******************************************************
   **************************************************************************************************************************** */
.mainProgramacion
{
    position: relative;
    width: 1000px;
    margin: auto;
    text-align: center;
	font-family: Sans-Serif, Arial;
    font-size: 12px;
    vertical-align: middle;
    top: -50px;
}

/* ****************************************************************************************************************************
   **************************************************** PAGE HISTORIAL ********************************************************
   **************************************************************************************************************************** */
.mainHistorial
{
    position: relative;
    width: 1000px;
    margin: auto;
    text-align: center;
	font-family: Sans-Serif, Arial;
    font-size: 12px;
    vertical-align: middle;
    top: -50px;
}

/* ****************************************************************************************************************************
   *************************************************** PAGE ACLARACIONES ******************************************************
   **************************************************************************************************************************** */
.mainAclaraciones
{
    position: relative;
    width: 1000px;
    margin: auto;
    text-align: center;
	font-family: Sans-Serif, Arial;
    font-size: 12px;
    vertical-align: middle;
    top: -50px;
}

.alineaDerecha
{
    text-align: right;
}