﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="RecepciondeFecturas.Site" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<%--<%@ PreviousPageType VirtualPath="~/Recepcion2.aspx" %>--%>

<html xmlns="http://www.w3.org/1999/xhtml">
    
    <head runat="server">
        <title>Recepcion de facturas - Industrial Aceitera</title>
        <link href="Imagenes/Gotita.ico" rel="Shortcut Icon"/>
        <asp:ContentPlaceHolder ID="head" runat="server">
        </asp:ContentPlaceHolder>

        <link href="Style/Site.css" rel="stylesheet" type="text/css" />

        <script language="javascript" type="text/javascript">
            function cambiacolor_over(celda) {
                celda.style.borderStyle = "ridge";
                celda.style.borderWidth = "thin";
                celda.style.borderColor = "#000080";
            }
            function cambiacolor_out(celda) {
                celda.style.borderStyle = "inherit";
            }

            var timerID = null;
            var timerRunning = false;
            function stopclock() {
                if (timerRunning)
                    clearTimeout(timerID);
                timerRunning = false;
            }

            function showtime() {
                var now = new Date();
                var hours = now.getHours();
                var minutes = now.getMinutes();
                var seconds = now.getSeconds();
                var timeValue = "" + ((hours > 12) ? hours - 12 : hours)

                if (timeValue == "0") timeValue = 12;
                timeValue += ((minutes < 10) ? ":0" : ":") + minutes
                timeValue += ((seconds < 10) ? ":0" : ":") + seconds
                timeValue += (hours >= 12) ? " P.M." : " A.M."
                document.getElementById('lblHora').innerText = timeValue;

                timerID = setTimeout("showtime()", 1000);
                timerRunning = true;
            }

            function startclock() {
                stopclock();
                showtime();
            }

            function mensaje() {
                alert('Se termino session.');
            }

            //window.onbeforeunload = confirmaSalida;
//            var hostDefault = window.location.pathname;
//            var hostName = window.location.hostname;

//            if (window.close) {
////                window.onbeforeunload = confirmaSalida;
//                if (hostDefault != "/Default.aspx") {
////                    if (hostName != "localhost") {
//                        window.onbeforeunload = confirmaSalida;    
////                    }
//                }
//            }
//            
//            function confirmaSalida() {
//                return "Vas a abandonar esta pagina. Si iniciaste sesión, debes dar clic en Salir para cerrar correctamente la sesión";
//                //return (hostName);
//                
//            }
            

        </script>

    </head>
    <body onload="startclock()">
        <form id="form1" runat="server">
            <%--Encabezado--%>
            <asp:Panel ID="pnlEncabezado" runat="server" CssClass="header" 
                meta:resourcekey="pnlEncabezadoResource1">
                <asp:Image ID="imgEncabezado" runat="server" 
                    ImageUrl="~/Imagenes/Encabezado.png" Width="1000px"
                    meta:resourcekey="imgEncabezadoResource1" />
            </asp:Panel>
            <asp:Panel ID="pnlMenu" CssClass="divMenu" runat="server" Visible="False" 
                meta:resourcekey="pnlMenuResource1">
                <asp:Menu ID="mnuPrincipal" runat="server" Orientation="Horizontal" CssClass="menu"
                        DynamicHorizontalOffset="1" meta:resourcekey="mnuPrincipalResource1">
                </asp:Menu>
            </asp:Panel>
            <asp:Panel ID="pnlDatos" runat="server" CssClass="divDatos" Visible="False" 
                meta:resourcekey="pnlDatosResource1">
                <table width="100%">
                    <tr>
                        <td style="width: 50%; text-align: left;">
                            <asp:Label ID="lblTituloProveedor" runat="server" Text="No. Proveedor :" CssClass="Textonormal" 
                                Font-Bold="True" meta:resourcekey="lblTituloProveedorResource1"></asp:Label>&nbsp;
                            <asp:Label ID="lblProveedor" runat="server" CssClass="Textonormal" meta:resourcekey="lblProveedorResource1"></asp:Label>
                        </td>
                        <td style="width: 20%; text-align: left;">
                            <asp:Label ID="lblTituloUsuario" runat="server" Text="Usuario :" CssClass="Textonormal"
                                Font-Bold="True" meta:resourcekey="lblTituloUsuarioResource1"></asp:Label>&nbsp;
                            <asp:Label ID="lblUsuario" runat="server" CssClass="Textonormal" meta:resourcekey="lblUsuarioResource1"></asp:Label>
                        </td>
                        <td style="width: 30%; text-align: right;">
                            <asp:Label ID="lblFecha" runat="server" Font-Bold="True" CssClass="Textonormal" 
                                meta:resourcekey="lblFechaResource1"></asp:Label>&nbsp;&nbsp;
                            <asp:Label ID="lblHora" runat="server" Font-Bold="True" CssClass="Textonormal" 
                                meta:resourcekey="lblHoraResource1"></asp:Label>
                        </td>
                    </tr>
                </table>
            </asp:Panel>
            <div class="main">
                <asp:Label ID="lblMasterMsj" runat="server" ForeColor="Red" Visible="False" CssClass="Textonormal" 
                    meta:resourcekey="lblMasterMsjResource1"></asp:Label>
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        
                </asp:ContentPlaceHolder>
            </div>
            <asp:Panel ID="pnlFooter" runat="server" CssClass="footer" 
                meta:resourcekey="pnlFooterResource1">
                <asp:Label ID="lblPieencabezado" runat="server" Text="Finanzas" 
                    CssClass="Textonormal" ForeColor="White" Font-Size="16px" Font-Bold="True" 
                    meta:resourcekey="lblPieencabezadoResource1"></asp:Label><br />
                <asp:Label ID="lblPiedetalle" runat="server" Text="Derechos Reservados / El nombre: Industrial Aceitera S.a. de C.v. y los Logotipos son marca registrada, Queda prohibido el uso del Nombre y los Logotipos por terceros" 
                    CssClass="Textonormal" ForeColor="White" Font-Size="12px" Font-Bold="True" 
                    meta:resourcekey="lblPiedetalleResource1"></asp:Label>
            </asp:Panel>
        </form>
    </body>
</html>
